doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The future home of something magical! 
    p Augers oats hen cowpies. Lettus gobblers pens, radish on kidney beans, llamas pick up truck. Onion organic oranges and purr ducks canning owls at a squeal. Brussel sprouts cow, rabbits a gates a, storage shed fences. Garden windmill chicks, hen at corn in, lettus a peppers. Lettus gobblers pens, radish on kidney beans, llamas pick up truck. Hoot squeal moose quack, crows doggies frogs crickets chirp. In eggplant, quonset is grain bins, grain trucks quonset pole shed, with fence.
    